.page-container {
    display: flex;
    color: black;
    width: 100vw;
  }
  
  .content {
  
    padding: 30px;
    width: 100%;
    background-color: #f5f8fa;
    min-height: 100vh;
  }
  
  .filters {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
  }
  
  .filters input,
  .filters select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .scholarship-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .scholarship-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .card-buttons {
    margin-top: 10px;
  }
  
  .apply-btn {
    background-color: #2d8cff;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .details-btn {
    background-color: #28c76f;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  